<%= form_for :membership, url: '/membership/update', html: { method: :put } do |f| %>
<div class="field">
<%= f.label :titulo %><br />
<%= f.text_field :name%>
</div>   <div class="field">
<%= f.label :comunidad %><br />
<%= f.text_field :organization%>
</div>
<div class="field">
<%= f.label :fecha %>
<%= f.date_select :date ,:start_year  =>1990, :end_year=>Time.now.year%>
</div>
<%=f.hidden_field :id, :value => @membership.id%>
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
