<style>
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

button.btn {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #de615e;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { opacity: 0.6; color: #fff; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 0.6; background: #de615e; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #de615e; color: #fff; }

</style>
<div class="top-content">

    <div class="inner-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text">
            <h1><strong>Iniciar Sesion</strong></h1>
            <div class="description">
              <p>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h3>Ingresa a nuestro sitio</h3>
                <p>Ingresa tu correo elecrtronico y tu contraseña:</p>
              </div>
              <div class="form-top-right">
                <em class="fa fa-lock"></em>
              </div>
            </div>
            <div class="form-bottom">
              <%= form_for(resource, as: resource_name, :class=>"login-form" ,url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label :correo,:class=>"text",:style=>"color: #ffffff" %><br />
                <%= f.email_field :email, autofocus: true ,:class=>"form-username form-control",:style=>"background-color: #ffffff"%>
              </div>
              <div class="form-group">
                <%= f.label :contraseña,:class=>"text"  %><br />
                <%= f.password_field :password, autocomplete: "off", :class=>"form-password form-control" %>
              </div>
              <% if devise_mapping.rememberable? -%>
                <div class="form-group">
                  <%= f.check_box :remember_me %>
                  <%= f.label :recordarme,:class=>"text"  %>
                </div>
              <% end %>
              <%= render "users/shared/links" %>
              <%= f.submit "Iniciar Sesion",:class=>"btn"%>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
jQuery(document).ready(function() {

    /*
        Fullscreen background
    */
    $.backstretch("assets/images/ibackgrounds/1.jpg");
]
});
</script>
