
<div class="panel panel-default">
  <div class="panel-heading"><div class="panel-title"><h3>Mis Notificaciones </h3></div></div>
  <div class="panel-body">
  <% if @notifications.size >0%>
  <ul class="list-group">
  <% @notifications.each do |notification| %>
    <li class="list-group-item">
      <div>
        <h4> <a href="/mis_notificaciones/<%=notification.id%>"> <strong><%=notification.title%> de <%=notification.user_sender.name%></strong></a>
          <a href="/mis_notificaciones/<%=notification.id%>">
            <button class="btn btn-default btn-sm pull-right">Mostrar Completo</button>
          </a>
            <%if !notification.readed%>
               <a href="/mis_notificaciones/read/<%=notification.id%>">
                 <button class="btn btn-warning btn-sm pull-right">
                   Marcar como leido
                </button>
                </a>
              <%else%>
                  <a href="/mis_notificaciones/unread/<%=notification.id%>">
                 <button class="btn btn-warning btn-sm pull-right">
                   Marcar como no leido
                </button>
                </a>
              <%end%>
          </button>
        </h4>
        <%=notification.description%>&nbsp;
        <%=notification.user_sender.name%>
      </div>
    </li>
      <%end%>
   <%end%>
 </ul>
 </div>
 </div>
