
<div class="panel panel-default">
  <div class="panel-heading"><div class="panel-title"><h3>Todos los Grupos </h3></div></div>
  <div class="panel-body">
  <% if @grupos.size >0%>
  <ul class="list-group">
  <% @grupos.each do |group| %>
    <li class="list-group-item">
      <div>
        <h4>  <strong><%=group.name%>&emsp;</strong>
          <a href="/grupos/<%=group.id%>/miembros">
            <button class="btn btn-default btn-sm pull-right">Ver Miembros</button>
          </a>

          <button class="btn btn-warning btn-sm pull-right">
            <%if current_user.is_my_group(group.id)%>
              <%=link_to "Borrar grupo", {controller: "groups",action:"abandonar",id:group.id}%>
            <%else%>
              <%if current_user.is_in_this_group(group)%>
                <%=link_to "Salir", {controller: "groups",action:"abandonar",id:group.id}%>
              <%else%>
                <%=link_to "Unirme",{controller: "groups",action:"unirme",id:group.id}%>
              <%end%>
            <%end%>
          </button>
        </h4>
        <%=group.description%>&nbsp;
        <%=group.members%>
      </div>
    </li>
      <%end%>
   <%end%>
 </ul>
 </div>
 </div>
