<div class="container-fluid" style="padding: 0px">
  <div id="container-cover">
    <div class="hovereffect">
				<%= image_tag("IMG_12151.jpg"	) %>
          <div class="overlay">
            <h2>Actualizar foto de portada</h2>
                <label ><span class="glyphicon glyphicon-camera"></span></label>
          </div>
    </div>
  </div>
</div>
	<div id="container-avatar">
	  <div class="hovereffect">
	    <%= image_tag ("missing.png")%>
	        <div class="overlay">
	          <h2>Actualizar foto de perfil</h2>
	              <label ><span class="glyphicon glyphicon-camera"></span></label>
	        </div>
	  </div>
	</div>
	<div class="container">
		<div class="row">
		 <div class="col-md-3">
    		<div class="contenedor-enlaces">
     		<%= link_to '<span class="glyphicon glyphicon-briefcase"></span> Ver Curriculum'.html_safe,  '/mycurriculum',class: 'enlaces-perfil'%>
      	<%= link_to '<span class="glyphicon glyphicon-pencil"></span> Editar Curriculum'.html_safe,'/users/curriculum/edit' ,class: 'enlaces-perfil'%>
        <%= link_to '<span class="glyphicon glyphicon-briefcase"></span> Mis Grupos'.html_safe, '/grupos/mis_grupos', class: 'enlaces-perfil'%>
      		<%if current_user.is_company?%>
      	<%= link_to '<span class="glyphicon glyphicon-pencil"></span> Crear oferta'.html_safe,'/oferta/nueva' ,class: 'enlaces-perfil'%>
      	<%end%>
    	 </div>
  	 </div>
		 <br><br>
     <div class="col-md-6">
	     <%= form_for :post, url: new_post_path do |f| %>
	      <div class="row">
		      <div class="col-md-12">
      			<%= f.text_area(:body, class: "form-control", placeholder: 'Como te sientes?', rows: 4) %>
      			<%=f.hidden_field :user_id, :value => current_user.id%>
            <%=f.hidden_field :requiring,:value=>false%>
		      </div>
	      </div>
      	<div class="row barra-enviar">
      		<div class="col-md-9 col-sm-8 col-xs-4">
      			<label for="post_image">
      					<span class="glyphicon glyphicon-camera btn btn-primary" aria-hidden="true"></span>
      			</label>
      		</div>
      		<div class="col-md-3  col-sm-4  col-xs-8 cont-btn-publicar">
      			<button type="submit" class="btn btn-primary">
      				Publicar <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
      			</button>
      		</div>
      	</div>
	     <% end %>
      <br><br>
    <%if (@posts)%>
    	<% @posts.each do |post| %>
        <div class="container-body" style="background-color: #D8D8D8">
          <h5><%= post.user.name %></h5>
          <p class="format-text">
            <% post.body.split("\n").each do |line|  %>
              <%=line%><br>
            <%end%>
          </p>
        	<button type="button" class="btn btn-primary" aria-label="Left Align">
            <span class=" glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        	</button>
        	<button type="button" class="btn btn-warning" aria-label="Left Align">
          	<span class=" glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
          </button>
          <%if current_user.not_me(post.user.id) and (Follow.where(follower:current_user.id,followed:post.user.id).size==0)%>
            <%= form_for :follow, url: new_follow_path do |f| %>
              <%=f.hidden_field :follower, :value => current_user.id%>
              <%=f.hidden_field :followed, :value => post.user.id%>
        	    <button type="button submit" class="btn btn-default" aria-label="Left Align">
           	    Seguir
        	    </button>
            <%end%>
          <%else%>
            <%if (Follow.where(follower:current_user.id,followed:post.user.id).size!=0)%>
              <button type="button submit" class="btn btn-default" aria-label="Left Align">
                <%=link_to "Dejar de seguir", {controller: "follows", action: "dejar", id: Follow.where(follower.current_user.id,followed:post.user.id).first.id}%>
              </button>
            <%end%>
          <%end%>
          <%if (!current_user.is_my_friend(post.user.id))%>
            <%if current_user.not_me(post.user.id)%>
              <button type="button submit" class="btn btn-default" aria-label="Left Align">
                <%=link_to "Agregar a mis amigos", {controller: "friendships", action: "friend", id: post.user.id}%>
              </button>
            <%end%>
          <%else%>
            <button type="button submit" class="btn btn-default" aria-label="Left Align">
              <%=link_to "Dejar de ser amigos", {controller: "friendships", action: "notmine", id: post.user.id}%>
            </button>
          <%end%>
            <%if current_user.not_me(post.user.id) or true%>
              <a href="/mis_notificaciones/new/<%=post.id%>">
               <button type="button" class="btn btn-default" aria-label="Left Align">Postular</button>
              </a>
            <%end%>
          </div>
    	 <%end%>
      <%end%> 
    </div>
  </div>
