<%= form_for :experience, url: '/experience/update', html: { method: :put } do |f| %>
  <div class="field">
    <%= f.label :cargo_profesional %><br />
    <%= f.text_field :job_title%>
  </div>

    <div class="field">
    <%= f.label :empresa %>
    <%= f.text_field :company_name%>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :job_description%>
  </div>-
  <div class="field">
    <%= f.label :Fecha_ingreso %>
    <%= f.date_select :start_date ,:start_year  =>1990, :end_year=>Time.now.year%>
  </div>
    <div class="field" id="date" style="display:none;">
    <%= f.label :fecha_salida %>
    <%= f.date_select :end_date ,:start_year  =>1990, :end_year=>Time.now.year%>
  </div>
  <div class="field">
      <%=f.label :si_aun_sigue_por_favor_deje_marcada_esta_casilla%>
      <%= f.check_box :until_now,:id=>"checkboxDate", :checked =>"true"%>
  </div>
      <%=f.hidden_field :id, :value => @experience.id%>

  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
<script>
window.onload = function() {
 var checkbox2 = document.getElementById('checkboxDate');
 if (checkbox2.checked) {
 document.getElementById("date").style.display = "none";
 } else {
 document.getElementById("date").style.display = "block";
 }
};

$('#checkboxDate').click(function() {
  $('#date')[this.checked ? "hide" : "show"]();
});
</script>
