
<div id="page-content-wrapper">
<div class="container">
      <h1 style="border-bottom: 1px solid #A6AAA9; color: #000000;">Personas Calificadas </h1>
      <h3>Se encontraron <%=@users.size%> personas que cumplen su requerimimento</h3>
      <br>
      <%= form_for :post, url: '/posts/oferta' do |f| %>
      <%= f.hidden_field :user_id,:value => current_user.id%>
          <%=f.hidden_field :titulo,:value => @titulos%>
          <%=f.hidden_field :post_grado,:value => @postgrados%>
          <%=f.hidden_field :horas,:value => nil%>
          <%=f.hidden_field :experiencia,:value => @experiencias%>
          <%=f.hidden_field :ciudad,:value => nil%>
          <%=f.hidden_field :idiomas,:value => @idiomas%>
          <%=f.hidden_field :cargo,:value => @cargos%>
          <%=f.hidden_field :habilidades,:value => @habilidades%>
          <%=f.hidden_field :phone,:value =>current_user.phone%>
          <%=f.hidden_field :contact, :value=>current_user.contact_name%>
          <%=f.hidden_field :results, :value=> @ids%>
          <div class="validation"></div>
      <div class="container">
      <button type="submit">Publicar</button>

      <%end%>
      </div>
      <!-- Three columns of text below the carousel -->

      <div class="row">
        <% @users.each do |user| %>

        <div class="col-lg-4">
        <br>
          <h2><td><%= user.name%>   <%=user.last_name%></td></h2>
          <p><strong>Informacion Personal </strong><br>

          <strong>Email: </strong><%= user.email %><br></p>
        <div class="btn btn-group">
          <a href="/curriculums/<%=user.id%>"><button class="btn btn-default">Ver Perfil</button></a>
          <%if true%>
          <%end%>
        </div>
      </div>
      <% end %>

</div>
<br>
  <div class="btn btn-group">
     <a href="/oferta/nueva"><button class='btn btn-default btn-sm'>Volver a la Busqueda</button></a>
    </p>
</div>
</center>
